{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

    <h1 class="text-center">Index des catégories</h1>

    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" href="{{ path('back_category_new') }}">Ajouter une categorie</a>
    <div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
               
                <th>Nom</th>
                <th>Image</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                
                <td>{{ category.name }}</td>
                <td><img src="{{ app.request.getSchemeAndHttpHost() }}/upload/{{ category.picture }}" height="250"/></td>
                
            
                
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-primary" href="{{ path('back_category_show', {'id': category.id}) }}">Afficher</a>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('back_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    
{% endblock %}
