{% extends 'base.html.twig' %}

{% block title %}Index des catégories{% endblock %}

{% block body %}
    <h1 class="text-center ">Index des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Color</th>
                <th>UpdatedAt</th>
                <th>CreationAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.picture }}</td>
                <td>{{ category.color }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('d-m-Y') : '' }}</td>
                <td>{{ category.creationAt ? category.creationAt|date('d-m-y ') : '' }}</td>
                <td>{{ category.slug }}</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-primary" href="{{ path('back_category_show', {'id': category.id}) }}">Afficher</a>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('back_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-success href="{{ path('back_category_new') }}">Ajouter une categorie</a>
{% endblock %}
