{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Index des commandes</h1>
    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" href="{{ path('back_command_new') }}">Ajouter une commande</a>
    <div class="table-responsive">

    <table class="table ">
        <thead>
            <tr>
                <th>Numéros de facture</th>
                <th>Status</th>
                <th>Crée le :</th>
                <th>TotalTTC</th>
                <th>TotalHT</th>
                <th>TotalTVA</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.numFact }}</td>
                <td>{{ command.status }}</td>
                <td>{{ command.creationAt ? command.creationAt|date('d-m-Y H:i') : '' }}</td>
                <td>{{ command.totalTTC }}</td>
                <td>{{ command.totalHT }}</td>
                <td>{{ command.totalTVA }}</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-primary" href="{{ path('back_command_show', {'id': command.id}) }}">Afficher</a>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('back_command_edit', {'id': command.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endblock %}
