{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Commande</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>NumFact</th>
                <td>{{ command.numFact }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ command.status }}</td>
            </tr>
            <tr>
                <th>Modifié le :</th>
                <td>{{ command.updatedAt ? command.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Crée le :</th>
                <td>{{ command.creationAt ? command.creationAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TotalTTC</th>
                <td>{{ command.totalTTC }}</td>
            </tr>
            <tr>
                <th>TotalHT</th>
                <td>{{ command.totalHT }}</td>
            </tr>
            <tr>
                <th>TotalTVA</th>
                <td>{{ command.totalTVA }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" href="{{ path('back_command_index') }}">Revenir à la liste</a></br>

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_command_edit', {'id': command.id}) }}">Modifier</a></br>

    {{ include('back/command/_delete_form.html.twig') }}
{% endblock %}
