{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Index  produit commandé</h1>
     <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto"  href="{{ path('back_product_command_new') }}">Ajouter un nouveau produit</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quantité</th>
                <th>Prix à l'unité où au kg</th>
                <th>Total TTC</th>
                <th>Total HT</th>
                <th>Total TVA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_command in product_commands %}
            <tr>
                <td>{{ product_command.id }}</td>
                <td>{{ product_command.quantity }}</td>
                <td>{{ product_command.unitPrice }}</td>
                <td>{{ product_command.totalTTC }}</td>
                <td>{{ product_command.totalHT }}</td>
                <td>{{ product_command.totalTVA }}</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-primary" href="{{ path('back_product_command_show', {'id': product_command.id}) }}">Afficher</a><br/>
                    <a  type="button" class="btn btn-outline-warning" href="{{ path('back_product_command_edit', {'id': product_command.id}) }}">Modifier</a><br/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé/td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
