{% extends 'base.html.twig' %}

{% block title %}Modifier {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la fiche client de <br/> {{ user.firstname }} {{ user.lastname }}</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_user_index') }}">Revenir à la liste</a>

    {{ include('back/user/_delete_form.html.twig') }}
{% endblock %}
