{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Index client</h1>
    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" href="{{ path('back_user_new') }}">Ajouter un client</a>
    <div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                
                <th>Prénom</th>
                <th>Nom</th>
               
                <th>Code postal</th>
                
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
               
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
               
                <td>{{ user.zip }}</td>
                
                <td>{{ user.phone }}</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-primary" href="{{ path('back_user_show', {'id': user.id}) }}">Afficher</a><br/>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('back_user_edit', {'id': user.id}) }}">Modifier</a><br/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Aucun enregistrement trouvé<</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    
{% endblock %}
