{% extends 'base.html.twig' %}

{% block title %}Client {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1 class="text-center" >Client</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
           
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.zip }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>Modifié le :</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Crée le :</th>
                <td>{{ user.creationAt ? user.creationAt|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Téléphone :</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" href="{{ path('back_user_index') }}">Revenir à la liste</a><br/>

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('back/user/_delete_form.html.twig') }}<br/>
{% endblock %}
