{% extends 'base.html.twig' %}

{% block title %}Modifier {{product.name}}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier <br/>{{product.name}}</h1>

    {{ include('back/product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_product_index') }}">Revenir à la liste</a><br/>

    {{ include('back/product/_delete_form.html.twig') }}
{% endblock %}
