{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Produit</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Résumé de la description</th>
                <td>{{ product.summary }}</td>
            </tr>
            <tr>
                <th>Disponibilité (0 non dispo 1 en stock)</th>
                <td>{{ product.available }}</td>
            </tr>
            <tr>
                <th>Quantité disponible</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td class="text-center"><img src="{{ app.request.getSchemeAndHttpHost() }}/upload/{{ product.picture }}" height="250"/></td>
                

            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>Mise en avant du produit (0 non 1 oui)</th>
                <td>{{ product.hihlighted }}</td>
            </tr>
            <tr>
                <th>Afficher sur le site (0 non 1 oui)</th>
                <td>{{ product.online }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Vendu à la pièce (0) ou au Poids (1)</th>
                <td>{{ product.unitType }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto"href="{{ path('back_product_index') }}">Revenir à la liste</a><br/>

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_product_edit', {'id': product.id}) }}">Modifier</a><br/>

    {{ include('back/product/_delete_form.html.twig') }}
{% endblock %}
