<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css-back/lepotager.css') }}">
    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo&display=swap" rel="stylesheet"
   
    {#
        Si on souhaite un stye spécifique pour une page donnée
        l'enfant pourra créer un bloc et y mettre son style à lui
    #}
    {% block css %}{% endblock %}
    

    <title>{% block title %}{% endblock %}</title>
</head>
<header>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <div class="container-fluid">
            <a  class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo" href="/">
                <img src="{{ asset('logo.jpg') }}" height="70" alt="Logo Potager">
                <span class="header-logo__title">Le potager des culs fouettés</span>
            </a>
            <ul class="nav bg-light mb-3" role="group" aria-label="Basic example">
    <li class="nav-item">
        <a type="button" class="nav-link btn-outline-warning" href="{{ path('back_category_index') }}">Catégories</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link btn-outline-warning"href="{{ path('back_command_index') }}">Commandes</a>
    </li>
     <li class="nav-item">
        <a type="button" class="nav-link btn-outline-warning"href="{{ path('back_product_index') }}">Produits</a>
    </li>
     <li class="nav-item">
        <a type="button" class="nav-link btn-outline-warning" href="{{ path('back_user_index') }}">Clients</a>
    </li>
</ul>
</nav>
</header>
    <body>

        
        <div class="container potager_back">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>


